input[type=text]{
  margin: 0 0 .7em 0;
  font-size: 1.2em;
  background: rgb(255,255,255); /* this is needed for iOS. Otherwise the background just becomes black. */
  border: 1px solid rgba(0,0,0,0.3);
  width: 100%;
  border-radius: 4px;
}

button{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: .4em;
  text-transform: uppercase;

}
